<h1 mat-dialog-title>名称入力</h1>
<hr>
<div mat-dialog-content>
    <p>名称を入力してください。</p>
    <mat-form-field style="width: 100%;">
        <input matInput [(ngModel)]="title" cdkFocusInitial>
    </mat-form-field>
    <p>タイマー設定</p>
    <mat-select [(ngModel)]="countTImeFlg" required>
        <mat-option value="0">
            タイマーを設定する
        </mat-option>
        <mat-option value="1">
            タイマーを設定しない
        </mat-option>
    </mat-select>
</div>
<hr>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onOkClick()">Ok</button>
</div>