<h4>試験タイトル:<span style="margin-left: 10px;">{{title}}</span></h4>
<hr>
<div style="margin-left: 20px;">
    経過時間：{{costedTime * 1000 | date:'H時　mm分　ss秒':'UTC'}}
    <br><span *ngIf="flag === 0">残り時間：{{costTime * 1000 | date:'H時　mm分　ss秒':'UTC'}} /
    </span>予定総時間：{{planCostTime * 1000 | date:'H時　mm分　ss秒':'UTC'}}
    <br>単語数　：{{testedWordCount}}/{{allWordCount}}
    <span style="margin-left: 10px;">文数：{{testedSentenceCount}}/{{allSentenceCount}}</span>
    <span style="margin-left: 10px;" *ngIf="checkRes">チェック結果：{{checkRes}}</span>
</div>
<hr>
<mat-progress-bar *ngIf="flag === 0" mode="determinate" [value]="processBarValue"></mat-progress-bar>
<div style="width: 100%; font-size: 2vw" *ngIf="currentTest">
    <div>
        意味（日本語）：
        <br>
        <span style="margin-left: 40px;">{{currentTest.content1}}</span>
    </div>
    <hr>
    <div>
        意味（中国語）：<br>
        <span style="margin-left: 40px;">{{currentTest.content2}}</span>
    </div>
    <hr>
    <div>
        回答：
        <input type="text" class="form-control" [value]="currentTest.answer"
            (input)="currentTest.answer = $event.target.value" style="width: 100%; font-size: 2vw;" />
    </div>
</div>
<hr>
<button *ngIf="isTesting" mat-raised-button color="primary" (click)="next()">次へ</button>
<button *ngIf="isTesting" mat-raised-button color="primary" (click)="check(false)">チェック</button>
<button *ngIf="isTesting" mat-raised-button color="primary" (click)="cancel()">途中で終了</button>